:root {
  --color-dark-cyan: #3c8067;
  --color-cream: #f2ebe3;
  --color-very-dark-blue: #1c232b;
  --color-dark-grayish-blue: #6c7289;
  --color-white: #fff;
  --font-secondary: 'Montserrat', sans-serif;
  --font-primary: 'Fraunces', sans-serif;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.container {
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
  background-color: var(--color-cream);
  align-items: center;
  justify-content: center;
  padding: 16px;
}

.card {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-areas:
    'image content'
    'image footer';
  width: 580px;
  background-color: var(--color-white);
  border-radius: 10px;
}

.image-desktop {
  width: 100%;
  grid-area: image;
  border-radius: 10px 0 0 10px;
}

.image-mobile {
  display: none;
}

.content {
  width: 100%;
  padding: 26px 26px 0 26px;
  grid-area: content;
}

.content .product-type {
  font-family: var(--font-secondary);
  font-size: 10px;
  font-weight: 500;
  letter-spacing: 5px;
  color: var(--color-dark-grayish-blue);
  margin-bottom: 16px;
}

.content .title {
  font-family: var(--font-primary);
  font-size: 32px;
  font-weight: 700;
  line-height: 32px;
  margin-bottom: 16px;
}

.content .description {
  font-family: var(--font-secondary);
  font-size: 14px;
  font-weight: 500;
  line-height: 22px;
  color: var(--color-dark-grayish-blue);
  margin-bottom: 16px;
}

.content .price {
  display: flex;
  justify-content: space-between;
}

.content .price p {
  font-family: var(--font-primary);
  font-weight: 700;
  font-size: 32px;
  color: var(--color-dark-cyan);
}

.content .price del {
  font-family: var(--font-secondary);
  font-size: 14px;
  color: var(--color-dark-grayish-blue);
  margin-right: 42px;
  margin-top: 8px;
}

.card-footer {
  display: flex;
  align-items: center;
  grid-area: footer;
  padding: 26px 26px;
}

.card-footer button {
  font-family: var(--font-secondary);
  font-size: 14px;
  font-weight: 500;
  border-radius: 8px;
  height: 48px;
  background-color: var(--color-dark-cyan);
  color: var(--color-white);
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  border: none;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 8px;
}

.card-footer button:hover {
  background-color: var(--color-very-dark-blue);
  cursor: pointer;
}

.card-footer span {
  font-size: 18px;
}

.footer {
  margin: 16px 0;
  position: absolute;
  bottom: 0;
  font-family: var(--font-secondary);
  font-size: 14px;
  text-align: center;
}
.footer a {
  color: #3e52a3;
}

@media (max-width: 375px) {
  .card {
    width: 100%;
    display: grid;
    grid-template-areas:
      'image'
      'content'
      'footer';
    grid-template-columns: 1fr;
  }

  .image-mobile {
    display: block;
    width: 100%;
    border-radius: 10px 10px 0 0;
  }

  .image-desktop {
    display: none;
  }

  .content .price del {
    margin-right: 92px;
    margin-top: 8px;
  }

  .card-footer {
    padding: 24px 24px;
  }
}
